# Prerequisites
*.ini
*.bat

# Object files
*.o
*.ko
*.obj
*.elf
*.crf
*.d
*.Bak
*.htm
*.hex
*.lnp
*.sct

# Listings
*.map
*.lst
*.ilk
*.map
*.exp

# Log files
keil-assistant.Log

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables

# Debug files

# Kernel Module Compile Results
